[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Night Shift
Comment=Color temperature slider (blue light filter)
Icon=weather-clear-night
X-XFCE-Module=nightshift
X-XFCE-Internal=false
X-XFCE-Unique=true
X-XFCE-API=2.0
